<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        {{!-- NAVBAR BRAND --}}
        <a class="navbar-brand" href="/">News Scraper</a>

        {{!-- NAVBAR TOGGLER BUTTON --}}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {{!-- NAVBAR LINKS --}}
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto">
                <li id="navHome" class="nav-item">
                    <a class="nav-link" href="/" title="Go back home">Home</a>
                </li>
                <li id="navSaved" class="nav-item">
                    <a class="nav-link" href="/saved" title="Go to Saved Articles">Saved Articles</a>
                </li>
            </ul>
        </div>
    </nav>

    {{!-- JUMBOTRON --}}
    <div class="jumbotron text-center">
        <div class="app-title">
            <h1>News Scraper</h1>
            <h5>Washington Post Edition</h5>
        </div>

        <div class="nav-btns mx-auto my-auto">
            <a class="btn btn-primary scrape-newArticles">Scrape New Articles</a>
            <a class="btn btn-outline-primary clear-articles">Clear Articles</a>
        </div>
    </div>

    <main>
        <div class="container">
            {{#each articles}}
            <div class="row">
                <div class="col justify-content-center">
                    <div id="articles">
                        <div class="card shadow mb-4">
                            <div class="card-header">
                                <a href={{this.link}} class="h5 inline-block" target="_blank">{{this.title}}</a>
                                <a class="btn btn-success save-article-btn inline-block float-right">Save</a>
                            </div>
                            <div class="card-body">
                                {{this.summary}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </main>
